:root {
    font-family: "poppins", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #414D77;
    background-color: #EAE3F6;
}

#editbody{
    background-color: #DBC9FA;
    width: 27rem;
    align-self: center;
    border-radius: 2rem;
}

#topic{
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    padding-top: 5rem;
}

#edittt,
#editdes{
    text-align: center;
    margin-top: 1rem;
}

#titlenew,
#descrip {
    background-color: #FCFAFF;
    width: 20rem;
    border-radius: 1rem;
    font-size: 20px;
}

#descrip{
    height: 5rem;
}

#editdate{
    margin-top: 1rem;
    margin-left: 1rem;
}

#duedate{
    background-color: #FCFAFF;
    width: 10rem;
    border-radius: 1rem;
}

#edittime{
    margin-top: -4.3rem;
    margin-left: 13.3rem;
}

#duetime{
    background-color: #FCFAFF;
    border-radius: 1rem;
}

#deltask {
    background-color: #F69393;
    border: none;
    border-radius: 1.8rem;
    color: #5F3535;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    margin-right: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    cursor: pointer;
}

#deltask:hover {background-color: #f06b6b}

#editup{
    background-color: #505C86;
    border: none;
    border-radius: 1.8rem;
    color: #E7D9FF;
    padding: 20px 33px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 2rem;
    cursor: pointer;
    margin-right: -0.5rem;
}

#editup:hover {background-color: #39415f}

#canceledit {
    align-self: flex-start;
    margin-top: -29.5rem;
}
